#cabecera{
    text-align: center;
    background-color: brown;
    height: 50px;
}
.cuerpo{
    background-color: white;
}
.cuerpo img {
    float: left;
    width:300px;
    height: 300px;
}
#pie {
    background-color: rgb(192, 113, 10);
    float: both;
    text-align: center;
    height: 30px;
}

#menu{
    background-color: rgb(196, 255, 206);
    width: 100%;
    
}
#menu nav ul li {
 display: inline;
 border-style: solid;
 border-color: aquamarine;
 border: 1 px;
}
#menu nav ul{
padding: 10px;
}
